#  conllection types:
1.list
2.tuple
3.set
4.dictionary

# list

In [1]:
list1=[1,2,3,4,5]
type(list1)

list

In [2]:
list1=[1,2,3,4,5]
type(list1)
print(list1)

[1, 2, 3, 4, 5]

In [3]:
list2=[1,2,23,"gitam","hyd"]
list2

[1, 2, 23, 'gitam', 'hyd']

In [11]:
#accessding list elements
list1=[1,2,3,4,5]
list2=[9,6,7,4,1]
print(list1[0])
list1[-1]
list2[-4]

1

6

In [18]:
list1=[1,2,3,4,5]
list1[1:4]

[2, 3, 4]

In [19]:
list1=[1,2,3,4,5]
list1[0:5:2]

[1, 3, 5]

In [20]:
list1=[1,2,3,4,5]
list1[:2]

[1, 2]

In [21]:
list1=[1,2,3,4,5]
list1[::2]

[1, 3, 5]

In [47]:
del list1[0]

#

In [48]:
list1

[2, 4]

In [27]:
list1=[1,2,3,4,5,6]
len(list1)

6

In [29]:
print(list1*1)

[1, 2, 3, 4, 5, 6]

In [30]:
print(list1*5)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [31]:
6 in list1

True

In [32]:
10 in list1

False

In [38]:
list1=[1,2,3,4]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4

In [40]:
for i in [1,2,3,4]:
    print(i,end=" ")

1 2 3 4

In [42]:
#basic list function
list1=[1,2,3,4]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

4
1
10

2.5

In [55]:
list1=[1,2,3,4]
list1.append(3)
list1

[1, 2, 3, 4, 3]

In [58]:
list1=[1,2,3,4]
list1.append(5)
list.insert(2,6)
list.count
list.pop()
list1

[1, 2, 3, 4, 5]

In [59]:
list1=[1,2,3,4]
list1.append(5)
list.insert(2,6)
list.count
list.pop()

6

In [60]:
list1=[1,2,3,4]
list1.append(5)
list.insert(2,6)
list.count(2)
list.pop()
list1

[1, 2, 3, 4, 5]

In [61]:
list.pop() #gives the last index value
list1.pop(3) #removes the specific index value

4

In [64]:
list1=[1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [70]:
list1
print(list1)
list1.index(1)
list1.extend({1,5,3})
list1

[1, 2, 3, 4, 1, 2, 3, 10, 20]

[1, 2, 3, 4, 1, 2, 3, 10, 20, 1, 3, 5]

In [71]:
print(list1)
list2=([10,20])
list1.extend(list2)

[1, 2, 3, 4, 1, 2, 3, 10, 20, 1, 3, 5]

In [72]:
li = [10,20,30]
print(li)
li.reverse()
print(li)

[10, 20, 30]
[30, 20, 10]

In [73]:
li=[1,6,4,90,221,58]
li.sort()
li

[1, 4, 6, 58, 90, 221]

In [74]:
li[::-1]

[221, 90, 58, 6, 4, 1]

In [75]:
help("list")

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# tuple:
# tuple are enclosed in paranthesis()
# TUPLES ARE IMMUTABLE I.E cannot modify the elements in tupli

# difference between list and tuple:
tuples--> and list-->[]
list is mutable(can modify the data),but tuple is immutable(cannot modify)

In [76]:
tuple1=(1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [77]:
tuple2=(1,2.2,"hyd")
tuple2

(1, 2.2, 'hyd')

In [78]:
t1=(10,20,30)
t1[0:2]
t1[::-1]

(30, 20, 10)

In [79]:
help("tuple")

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# dictionary:

# encloesdin{}
# dictionary consits of key and value parirs separated by cplp(;)
# each key and value pair is separated by comma(,)
# keys shouls be unique,values may repeat

In [83]:
d1 ={"NAME":"gitam","roll_no":1234,"address":"hyd"}
d1

{'NAME': 'gitam', 'roll_no': 1234, 'address': 'hyd'}

In [86]:
d1["NAME"]

'gitam'

In [88]:
d1["coure"]="python"
d1

{'NAME': 'gitam', 'roll_no': 1234, 'address': 'hyd', 'coure': 'python'}

# function to find factorial
input:5##(54*32*1)
    output:strong number or not

In [95]:
def fact(n):
    fact=1
    i=1
    while i<=0:
        fact=fact*1
    i=i+1
    return fact
fact(5)

1

In [102]:
def digitfactorsum(n):
    s=0
    buffer=n
    while n!=0 :
        r = n%10
        s=s+fact(r)
        n=n/10
    if buffer == s:
            print("strong number")
    else:
                print("not a strong number")
digitfactorsum(145)

not a strong number

# string

In [103]:
s1="python"
print(s1)

python

In [105]:
#accesing the frist character
print(s1[0])
print(s1[-1])
print(s1[2:5])
s1[::2]

p
n
tho

'pto'

In [106]:
s1="python"
print(s1[1:])
print(s1[3:])
print(s1[:4])
print(s1[-2:])

ython
hon
pyth
on

In [107]:
s1="python"
s1[1:-1]

'ytho'

In [108]:
str1= "mom"
print(str1)
print(str1[::-1])
if str==str1[::-1]:
    print("palindrome")
else:
    print("not a plindrome")

mom
mom
not a plindrome

In [110]:
s1="python"
s2="py123yhon"
s3="123"
print(s1.isnumer1c())
print(s2.isnumer1c())
print(s3.isnumer1c())

AttributeError: 'str' object has no attribute 'isnumer1c'